<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Comedor Interior
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  (click)="this.reservar('Mesa 15')">Mesa 15</ion-button >
  <ion-button  (click)="this.reservar('Mesa 16')">Mesa 16</ion-button >
  <ion-button  (click)="this.reservar('Mesa 17')">Mesa 17</ion-button >
  <ion-button  (click)="this.reservar('Mesa 18')">Mesa 18</ion-button >
  <ion-button  (click)="this.reservar('Mesa 19')">Mesa 19</ion-button >
  <ion-button  (click)="this.reservar('Mesa 20')">Mesa 20</ion-button >
  <ion-button  (click)="this.reservar('Mesa 21')">Mesa 21</ion-button >
  <ion-button  (click)="this.reservar('Mesa 22')">Mesa 22</ion-button >
  <ion-button  (click)="this.reservar('Mesa 23')">Mesa 23</ion-button >
  <ion-button  (click)="this.reservar('Mesa 24')">Mesa 24</ion-button >
  <ion-button  (click)="this.reservar('Mesa 25')">Mesa 25</ion-button >
  <ion-button  (click)="this.reservar('Mesa 26')">Mesa 26</ion-button >
  <ion-button  (click)="this.reservar('Mesa 27')">Mesa 27</ion-button >
  <ion-button  (click)="this.reservar('Mesa 28')">Mesa 28</ion-button >
</ion-content>
