<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Terraza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  (click)="this.reservar('Mesa 1')">Mesa 01</ion-button >
  <ion-button  (click)="this.reservar('Mesa 2')">Mesa 02</ion-button >
  <ion-button  (click)="this.reservar('Mesa 3')">Mesa 03</ion-button >
  <ion-button  (click)="this.reservar('Mesa 4')">Mesa 04</ion-button >
  <ion-button  (click)="this.reservar('Mesa 5')">Mesa 05</ion-button >
  <ion-button  (click)="this.reservar('Mesa 6')">Mesa 06</ion-button >
  <ion-button  (click)="this.reservar('Mesa 7')">Mesa 07</ion-button >
  <ion-button  (click)="this.reservar('Mesa 8')">Mesa 08</ion-button >
  <ion-button  (click)="this.reservar('Mesa 9')">Mesa 09</ion-button >
  <ion-button  (click)="this.reservar('Mesa 10')">Mesa 10</ion-button >
  <ion-button  (click)="this.reservar('Mesa 11')">Mesa 11</ion-button >
  <ion-button  (click)="this.reservar('Mesa 12')">Mesa 12</ion-button >
  <ion-button  (click)="this.reservar('Mesa 13')">Mesa 13</ion-button >
  <ion-button  (click)="this.reservar('Mesa 14')">Mesa 14</ion-button >
</ion-content>
