<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">


    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating" >Email</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
    
            <ion-item>
              <ion-label position="floating" >Password</ion-label>
              <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
    
          <div class="ion-padding">
            <ion-button size="large" class="submit-btn" type="submit" expand="block"  [disabled]="!validations_form.valid">Register</ion-button>
            <p class="go-to-login">Try to Login <a (click)="goLoginPage()">here</a></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  

</ion-content>
